In [24]:
import pandas as pd
import re
import numpy as np

In [25]:
arquivo = open('Base_Teste_coordenação_de_vendas.txt', 'r', encoding="latin-1")

In [26]:
#pegar a primeira linha para criar as colunas no dataframe
colunas = arquivo.readline()

In [27]:
#recebe uma linha como parametro e retorna a linha sem tabulacoes e pulo de linhas
#retorna uma lista
def tratamentoDados(linha):
    #removendo tabulações e pulo de linha
    dados= linha.replace('\n','')

    #split na string para ter a lista
    dados = re.split('\t', linha)
    dados.pop()
    
    return dados

In [28]:
colunas = tratamentoDados(colunas)

In [29]:
dataframe = pd.DataFrame(columns=colunas)

In [30]:
for linha in arquivo:
    #transforma a linha em uma lista
    dados=tratamentoDados(linha)
    
    #adicionando ao dataframe
    dataframe.loc[len(dataframe)]=dados
    
arquivo.close()

In [31]:
dataframe.to_csv('dados.csv')

In [32]:
dataframe

,Loja,Matrícula,Nome funcionário,Setor,Cota Vendas,Total Vendas,Total Estorno,Cota Seguros,Venda Seguros,Estorno Seguros
0,Loja JK,0252,Vendedor 0252,Salão,0,"482,26",0,0,0,0
1,Loja ZZW,0531,Vendedor 0531,Salão,0,892,0,0,0,0
2,Loja JK,0250,Vendedor 0250,Vitrine,0,"2.080,76",0,0,0,0
3,Loja AC,0367,Vendedor 0367,Salão,0,"2.291,70",0,0,0,0
4,Loja X,0192,Vendedor 0192,Móveis,0,"2.651,00",0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
265,Loja V,0049,Vendedor 0049,Salão,"403.000,00","493.006,45","22.225,72","7.427,00","541,97",0
266,Loja X,0165,Vendedor 0165,Salão,"222.000,00","449.939,74","22.518,77","1.800,00","1.822,88",0
267,Loja V,0046,Vendedor 0046,Salão,"403.000,00","664.779,36","22.683,08","7.427,00","7.881,23","110,12"
268,Loja D,0076,Vendedor 0076,Vitrine,"301.000,00","420.406,94","27.980,12","1.500,00","2.563,95",375
269,Loja D,0070,Vendedor 0070,Salão,"650.000,00","792.166,10","28.876,96","1.328,00","2.841,26","351,55"

In [116]:
f = lambda x:(x.replace(".",""))
dataframeCompleto = pd.read_csv('dados.csv',converters = {'Cota Vendas':f,'Total Vendas':f,
                                                         'Total Estorno':f, 'Cota Seguros':f,
                                                         'Venda Seguros':f, 'Estorno Seguros':f})
dataframeCompleto['Cota Vendas'] = dataframeCompleto['Cota Vendas'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Cota Seguros'] = dataframeCompleto['Cota Seguros'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Total Vendas'] = dataframeCompleto['Total Vendas'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Total Estorno'] = dataframeCompleto['Total Estorno'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Venda Seguros'] = dataframeCompleto['Venda Seguros'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Estorno Seguros'] = dataframeCompleto['Estorno Seguros'].replace(',', '.', regex=True).astype(float)

In [117]:
dataframeCompleto

,Unnamed: 0,Loja,Matrícula,Nome funcionário,Setor,Cota Vendas,Total Vendas,Total Estorno,Cota Seguros,Venda Seguros,Estorno Seguros
0,0,Loja JK,252,Vendedor 0252,Salão,0.0,482.26,0.00,0.0,0.00,0.00
1,1,Loja ZZW,531,Vendedor 0531,Salão,0.0,892.00,0.00,0.0,0.00,0.00
2,2,Loja JK,250,Vendedor 0250,Vitrine,0.0,2080.76,0.00,0.0,0.00,0.00
3,3,Loja AC,367,Vendedor 0367,Salão,0.0,2291.70,0.00,0.0,0.00,0.00
4,4,Loja X,192,Vendedor 0192,Móveis,0.0,2651.00,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
265,265,Loja V,49,Vendedor 0049,Salão,403000.0,493006.45,22225.72,7427.0,541.97,0.00
266,266,Loja X,165,Vendedor 0165,Salão,222000.0,449939.74,22518.77,1800.0,1822.88,0.00
267,267,Loja V,46,Vendedor 0046,Salão,403000.0,664779.36,22683.08,7427.0,7881.23,110.12
268,268,Loja D,76,Vendedor 0076,Vitrine,301000.0,420406.94,27980.12,1500.0,2563.95,375.00
269,269,Loja D,70,Vendedor 0070,Salão,650000.0,792166.10,28876.96,1328.0,2841.26,351.55

In [35]:
#nome de todas as lojas
lojas = dataframeCompleto['Loja'].unique()

In [36]:
#para cada loja, ver os melhores vendedores em cada setor
for loja in lojas:
    #formatando a query do pandas
    l='"{}"'.format(loja)
    q='Loja=='+l
    
    #seleciona todos os vendedores da loja
    df = dataframeCompleto.query(q)
    
    #verifico quais setores a loja tem
    setores = df['Setor'].unique()
    
    #para cada setor que a loja tem
    print("Os melhores vendedores na",loja,"\n")
    for setor in setores:

        #formatando a query do pandas
        s='"{}"'.format(setor)
        q='Setor=='+s

        #seleciona todos os vendedores de um setor especifico
        df = dataframeCompleto.query(q)

        print("Setor:",setor)
        funcionario = df.nlargest(2, ['Total Vendas'])
        funcionario = funcionario[['Nome funcionário', 'Total Vendas']].values.tolist()
        print(funcionario[0][0], 'vendendo um total de', funcionario[0][1])
        print(funcionario[1][0], 'vendendo um total de', funcionario[1][1],"\n")

Os melhores vendedores na Loja JK

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Os melhores vendedores na Loja ZZW

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Os melhores vendedores na Loja AC

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Os melhores vendedores na Loja X

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Os melhores vendedores na Loja GR

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Os melhores vendedores na Loja GOP

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Os melhores vendedores na Loja J

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Os melhores vendedores na Loja H

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Os melhores vendedores na Loja RM

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Os melhores vendedores na Loja D

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Os melhores vendedores na Loja TGU

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Os melhores vendedores na Loja YH

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Os melhores vendedores na Loja A

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Os melhores vendedores na Loja V

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Os melhores vendedores na Loja Y

Setor: Vitrine
Vendedor 0051 vendendo um total de 476577.92
Vendedor 0052 vendendo um total de 475931.12

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

Setor: Móveis
Vendedor 0170 vendendo um total de 321854.51
Vendedor 0242 vendendo um total de 219825.32

Os melhores vendedores na Loja AT

Setor: Salão
Vendedor 0070 vendendo um total de 792166.1
Vendedor 0508 vendendo um total de 684127.34

In [37]:
def superCota(valor):
    if(tipo=="vendas"):
        return ((8/100) * valor) + valor
    elif(tipo=="seguros"):
        return 1
    else:
        return "Você informou um tipo que não existe. Por favor, tente novamente."

In [38]:
#recebe como parametro o dataframe e uma string informando o tipo de calculo (vendas ou seguros)
def vendasLiquidas(df, tipo):
    if(tipo=="vendas"):
        totalVendas = sum(df['Total Vendas'])
        totalEstorno = sum(df['Total Estorno'])
        return round(totalVendas - totalEstorno,2)
    elif(tipo=="seguros"):
        totalVendas = sum(df['Venda Seguros'])
        totalEstorno = sum(df['Estorno Seguros'])
        return round(totalVendas - totalEstorno,2)
    else:
        return "Você informou um tipo que não existe. Por favor, tente novamente."

In [39]:
#recebe como parametro o dataframe e uma string informando o tipo de calculo (vendas ou seguros)
def percentCancel(df, tipo):
    if(tipo=="vendas"):
        totalVendas = round(sum(df['Total Vendas']),2)
        totalEstorno = round(sum(df['Total Estorno']),2)
        return round(((totalEstorno*100)/totalVendas),2)
    elif(tipo=="seguros"):
        totalVendas = round(sum(df['Venda Seguros']),2)
        totalEstorno = round(sum(df['Estorno Seguros']),2)
        return round(((totalEstorno*100)/totalVendas),2)
    else:
        return "Você informou um tipo que não existe. Por favor, tente novamente."

In [40]:
#para cada loja, somar o total de vendas
ranking=[]
for loja in lojas:
    #formatando a query do pandas
    l='"{}"'.format(loja)
    q='Loja=='+l
    
    #seleciona todos os vendedores da loja
    df = dataframeCompleto.query(q)
    
    #obtendo o total de vendas da loja
    totalVendasLoja = round(sum(df['Total Vendas']),2)
    
    dados=(loja,totalVendasLoja)
    ranking.append(dados)
ranking=dict(ranking)

In [41]:
for i in sorted(ranking, key = ranking.get, reverse=True):
    print(i, ranking[i])

Loja D 6699914.53
Loja H 5986668.87
Loja V 5546944.49
Loja X 5047249.49
Loja ZZW 4912208.88
Loja AC 4703575.88
Loja TGU 4281663.69
Loja GR 3471827.47
Loja JK 2551712.66
Loja Y 2373000.48
Loja GOP 1991855.29
Loja J 1886139.13
Loja AT 1684031.88
Loja RM 1572686.77
Loja A 1345169.89
Loja YH 569986.08

In [101]:
dataframeCompleto = dataframeCompleto.drop(columns=['Unnamed: 0'])

In [43]:
import xlsxwriter

In [69]:
workbook = xlsxwriter.Workbook('respostas.xlsx')
worksheet1 = workbook.add_worksheet('Desafio 1')
worksheet2 = workbook.add_worksheet('Desafio 2')
worksheet3 = workbook.add_worksheet('Desafio 3')
worksheet4 = workbook.add_worksheet('Desafio 4')
worksheet5 = workbook.add_worksheet('Desafio 5')

In [53]:
title_format = workbook.add_format({
    'bold':True,
    'border': 1
})

In [54]:
merge_format = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
})

In [55]:
data_format = workbook.add_format({
    'border':1
})

In [70]:
#criando as colunas da planilha 1

worksheet1.write_string("A1", "Super Cota de Vendas", title_format)
worksheet1.write_string("B1", "Super Cota de Seguros", title_format)

worksheet2.write_string("A1", "Vendas Liquídas", title_format)
worksheet2.write_string("B1", "Vendas de Seguros Liquídos", title_format)

worksheet3.write_string("A1", "Cancelamento Vendas", title_format)
worksheet3.write_string("B1", "Cancelamento Seguros", title_format)


worksheet4.write_string("A1", "Loja", title_format)
worksheet4.merge_range("A2:A3", "Nome Loja",merge_format)

worksheet4.write_string("B1", "Setor", title_format)
worksheet4.merge_range("B2:B3", "Nome Setor",merge_format)

#para cada loja e setor, escrever:
worksheet4.write_string("C1", "Vendedor", title_format)
worksheet4.write_string("C2", "Nome Vendedor 1", data_format)
worksheet4.write_string("C3", "Nome Vendedor 2", data_format)

worksheet4.write_string("D1", "Total Vendas", title_format)
#worksheet4.write_number("D2", "Valor", data_format)
#worksheet4.write_number("D3", "Valor", data_format)


worksheet5.write_string("A1", "Classificação", title_format)
worksheet5.write_string("B1", "Loja", title_format)
worksheet5.write_string("C1", "Total Vendas", title_format)

0

In [71]:
i=2
j=3
for loja in lojas:
    worksheet4.merge_range("A"+str(i)+":A"+str(j), loja, merge_format)
    i=i+2
    j=j+2

In [72]:
workbook.close()

In [135]:
f = lambda x:(x.replace(".",""))
dataframeCompleto = pd.read_csv('dados.csv',converters = {'Cota Vendas':f,'Total Vendas':f,
                                                         'Total Estorno':f, 'Cota Seguros':f,
                                                         'Venda Seguros':f, 'Estorno Seguros':f})
dataframeCompleto['Cota Vendas'] = dataframeCompleto['Cota Vendas'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Cota Seguros'] = dataframeCompleto['Cota Seguros'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Total Vendas'] = dataframeCompleto['Total Vendas'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Total Estorno'] = dataframeCompleto['Total Estorno'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Venda Seguros'] = dataframeCompleto['Venda Seguros'].replace(',', '.', regex=True).astype(float)
dataframeCompleto['Estorno Seguros'] = dataframeCompleto['Estorno Seguros'].replace(',', '.', regex=True).astype(float)
dfTeste=dataframeCompleto

In [132]:
scotas = []
for index, row in dataframeCompleto.iterrows():
    super_cota = ((8/100) * row['Cota Vendas']) + row['Cota Vendas']
    scotas.append(super_cota)

dfTeste['Super Cota Vendas']=scotas

scotas = []
for index, row in dataframeCompleto.iterrows():
    super_cota = ((8/100) * row['Cota Seguros']) + row['Cota Seguros']
    scotas.append(super_cota)

dfTeste['Super Cota Seguros']=scotas

In [133]:
scotas = []
for index, row in dataframeCompleto.iterrows():
    super_cota = round(row['Total Vendas'] - row['Total Estorno'],2)
    scotas.append(super_cota)

dfTeste['Vendas Líquidas']=scotas

scotas = []
for index, row in dataframeCompleto.iterrows():
    super_cota = round(row['Venda Seguros'] - row['Estorno Seguros'],2)
    scotas.append(super_cota)

dfTeste['Vendas de Seguros Líquido']=scotas

In [138]:
dfTeste

,Unnamed: 0,Loja,Matrícula,Nome funcionário,Setor,Cota Vendas,Total Vendas,Total Estorno,Cota Seguros,Venda Seguros,Estorno Seguros
0,0,Loja JK,252,Vendedor 0252,Salão,0.0,482.26,0.00,0.0,0.00,0.00
1,1,Loja ZZW,531,Vendedor 0531,Salão,0.0,892.00,0.00,0.0,0.00,0.00
2,2,Loja JK,250,Vendedor 0250,Vitrine,0.0,2080.76,0.00,0.0,0.00,0.00
3,3,Loja AC,367,Vendedor 0367,Salão,0.0,2291.70,0.00,0.0,0.00,0.00
4,4,Loja X,192,Vendedor 0192,Móveis,0.0,2651.00,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
265,265,Loja V,49,Vendedor 0049,Salão,403000.0,493006.45,22225.72,7427.0,541.97,0.00
266,266,Loja X,165,Vendedor 0165,Salão,222000.0,449939.74,22518.77,1800.0,1822.88,0.00
267,267,Loja V,46,Vendedor 0046,Salão,403000.0,664779.36,22683.08,7427.0,7881.23,110.12
268,268,Loja D,76,Vendedor 0076,Vitrine,301000.0,420406.94,27980.12,1500.0,2563.95,375.00
269,269,Loja D,70,Vendedor 0070,Salão,650000.0,792166.10,28876.96,1328.0,2841.26,351.55